<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="true" version="3.0">
  <servlet>
    <servlet-name>KatalogServlet</servlet-name>
    <servlet-class>KatalogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KatalogServlet</servlet-name>
    <url-pattern>/KatalogServlet</url-pattern>
  </servlet-mapping>
  
<listener>
	<listener-class>ContextListener</listener-class>
</listener>

</web-app>